streamlit
google-genai
python-dotenv
Pillow
langchain
langchain-community
chromadb
PyPDF2
faiss-cpu
langchain-text-splitters
pypdf
groq
langchain-groq 
langchain-google-genai
langchain-core
pdf2image
PyMuPDF
Pillow
youtube_transcript_api
pathlib